.hero {
    background-position: bottom;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
}

.page-title{
    color: #fce138;
    display: inline-block;
    border-bottom: 4px solid #fce138;
    font-style: italic;
    padding: 
    top 0
    right 80px
    bottom 15px
    left 80px;
    font-weight: normal;
    font-size: 42px;


    
}

h2 {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-block-start: 0.83cm;
    margin-block-end: 0px;
    font-weight: bold;
}